{% for methode in berekeningsmethode %}
### {{ methode.naam }}

{% if methode.formule %}
**Formule**: `{{ methode.formule }}`

{% endif %}
{% if methode.ratio %}
*{{ methode.ratio }}*

{% endif %}
{% if methode.stappen %}
**Stappen**:

{% for stap in methode.stappen %}
{{ loop.index }}. {% if stap is mapping %}{{ stap.text or stap.titel or stap.omschrijving }}{% if stap.actor %} _(actor: {{ stap.actor }})_{% endif %}{% else %}{{ stap }}{% endif %}

{% endfor %}
{% endif %}
{% if methode.concreet_voorbeeld %}
**Voorbeeld**: {{ methode.concreet_voorbeeld.scenario }}

```
{{ methode.concreet_voorbeeld.berekening }}
```

Resultaat: {{ methode.concreet_voorbeeld.resultaat }}
{% endif %}
{% endfor %}
