{% if vergelijkingsparen %}
{% for paar in vergelijkingsparen %}
> [!info]- Niet verwarren met [[{{ paar.vergelijking_met }}]]
> {{ paar.verschil }}
{% if paar.trigger %}
>
> _Trigger_: {{ paar.trigger }}
{% endif %}

{% endfor %}
{% endif %}
