{% for voorbeeld in voorbeelden %}
**Situatie**: {{ voorbeeld.situatie }}

**Conclusie**: {{ voorbeeld.conclusie }}

**Grondslag**: {{ voorbeeld.grondslag }}

**Redenering**: {{ voorbeeld.redenering }}

---
{% endfor %}
